extends ../layouts/application.pug

block header
  = t('views.users.usersList')

block content
  .table-responsive
    table.table.table-borderless.table-striped.mt-5
      thead
        tr
          th= t('views.users.id')
          th= t('views.users.fullName')
          th= t('views.users.email')
          th= t('views.users.createdAt')
      tbody
        each user in users
          tr
            td= user.id
            td= user.name
            td= user.email
            td= formatDate(user.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-3.mb-3(href=`/users/${user.id}/edit`)= t('views.users.edit.submit')
                form(action=`/users/${user.id}/delete`, method = 'post')
                  input.btn.btn-danger(type='submit', value=t('views.users.delete'))